$theme-light: (
    clr-text: #202020,
    clr-primary: #009688,
    clr-primary-text: #f0f0f0,

    clr-secondary: #f0f0f0,
    clr-third: #e1e1e1,
    clr-four: #525252,

    clr-shadow: #484848,

    clr-hover: #d5d5d5,
    clr-separator: #9f9faf,
    clr-option-first: #828282,
    clr-disable: #bababa
)
