$theme-dark: (
    clr-text: #f0f0f0,
    clr-primary: #4D4D4D,
    clr-primary-text: #f0f0f0,

    clr-secondary: #3a3a3a,
    clr-third: #515151,
    clr-four: #ababab,

    clr-shadow: #101010,

    clr-hover: #6e6e6e,
    clr-separator: #9f9faf,
    clr-option-first: #828282,
    clr-disable: #bababa
)
